Repository gerrymanoim/exchange_calendars, pull requests merged in 2024-02, with the labels that each got.

#367 ENH: XCSE: Prayers day has been abolished in Denmark
  exchange_calendars/exchange_calendar_xcse.py
  tests/resources/xcse.csv
Labels: calendar update

#369 TST: Fix missing assertion in XSGO calendar tests
  tests/test_xsgo_calendar.py
Labels: test

#370 BUG: Fix end-date-only TZ logic in holiday.py
  exchange_calendars/pandas_extensions/holiday.py
Labels: bug

#373 Update release workflow
  .github/workflows/release.yml
Labels: CI

#374 ENH: XASX early closes for last day before Christmas and last trading day of year
  exchange_calendars/exchange_calendar_xasx.py
  tests/resources/xasx.csv
  tests/test_xasx_calendar.py
Labels: calendar update

#375 Update dependencies
  etc/requirements.txt
  etc/requirements_dev.txt
  etc/requirements_minpandas.txt
Labels: dependencies
